*~
*.la
*.lo
*.o
*.so
Makefile.bak
Makefile
Makefile.in
aclocal.m4
*.deps
*.libs
*.tag
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
stamp-h1
ltmain.sh
*.kdev*
INSTALL
